<div  style="width:20%;float:left;overflow:hidden;border-right: 3px solid black;min-height:620px;">
  <% @unread_message_details.each do |message_detail|%>
    <li onclick="getConversationWith('<%= message_detail.sent_by %>');"> <%= message_detail.sent_by.split('@')[0] %> (<%= message_detail.count %>) </li>
  <% end %>
</div>
<div id = "conversation_div" style="float:left;min-height:620px;">
  Please click on the contact name to view your conversation with them.
</div>
